@if (User.Identity.IsAuthenticated)
{
  <a href="/Account/Profile" class="hover:text-pink-500">Profile</a>
  <a href="/Account/Logout" class="hover:text-pink-500">Logout</a>
}
else
{
  <a href="/Account/Login" class="hover:text-pink-500">Login</a>
}
