<!DOCTYPE html>
<html lang="vi" class="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AuthServer</title>
  <link rel="stylesheet" href="~/css/output.css" />
</head>

<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
  <main role="main" class="min-h-screen">
    @RenderBody()
  </main>
  @RenderSection("Scripts", required: false)
</body>

</html>
