<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - Sweet Bakery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

  <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />


</head>

<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 min-h-screen flex flex-col">

  @await Html.PartialAsync("Components/_Header")
  @await Html.PartialAsync("Components/_Banner")
  @await Html.PartialAsync("Components/_Carousel")

  <main class="flex-1 container mx-auto px-4 py-8">
    @RenderBody()
  </main>

  @await Html.PartialAsync("Components/_Footer")

  @RenderSection("Scripts", required: false)

  <script src="~/js/swiper-bundle.min.js"></script>


  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>


</body>

</html>
