<div class="swiper mySwiper w-full">
  <div class="swiper-wrapper">
    <!-- Slide 1 -->
    <div
      class="swiper-slide !aspect-[2/3] !sm:aspect-[3/4] !md:aspect-[4/5] !max-h-[800px] overflow-hidden rounded-xl bg-white shadow-md">
      <img src="~/img/tart-cake.jpg" class="w-full h-full object-cover" />
    </div>

    <!-- Slide 2 -->
    <div
      class="swiper-slide !aspect-[2/3] !sm:aspect-[3/4] !md:aspect-[4/5] !max-h-[800px] overflow-hidden rounded-xl bg-white shadow-md">
      <img src="~/img/tart-cake-2.jpg" class="w-full h-full object-cover" />
    </div>

    <!-- Slide 3 -->
    <div
      class="swiper-slide !aspect-[2/3] !sm:aspect-[3/4] !md:aspect-[4/5] !max-h-[800px] overflow-hidden rounded-xl bg-white shadow-md">
      <img src="~/img/pannacotta.jpg" class="w-full h-full object-cover" />
    </div>

    <!-- Slide 4 -->
    <div
      class="swiper-slide !aspect-[2/3] !sm:aspect-[3/4] !md:aspect-[4/5] !max-h-[800px] overflow-hidden rounded-xl bg-white shadow-md">
      <img src="~/img/pannacotta.jpg" class="w-full h-full object-cover" />
    </div>
  </div>

  <!-- Optional: pagination -->
  <div class="swiper-pagination mt-4"></div>
</div>
