<!DOCTYPE html>
<html lang="vi" class="h-full" id="html-root">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>@ViewData["Title"] - Sweet Bakery</title>

  <!-- Tailwind CSS -->
  <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body class="bg-amber-50 dark:bg-gray-800 text-gray-800 dark:text-yellow-100">
  <div class="min-h-full">
    <!-- Header -->
    @await Html.PartialAsync("_Header")

    @await Html.PartialAsync("_Banner")

    <!-- Main content -->
    <main class="container mx-auto px-4 sm:px-10 py-8">
      <div>
        @RenderBody()
      </div>
    </main>
  </div>

  <!-- Footer -->
  @await Html.PartialAsync("_Footer")

  <!-- JS -->
  <script src="~/js/theme-toggle.js"></script>
  <script src="~/js/swiper-bundle.min.js"></script>
  @RenderSection("Scripts", required: false)

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</body>

</html>
